<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StudentSelecter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <StudentSelecter.Properties.Settings>
            <setting name="DefaultFtpUrl" serializeAs="String">
                <value>ftp://petroules.com/cs185-01</value>
            </setting>
            <setting name="DefaultFtpUserName" serializeAs="String">
                <value>cs.keene.edu</value>
            </setting>
            <setting name="DefaultFtpPath" serializeAs="String">
                <value>/cs185-01</value>
            </setting>
            <setting name="DefaultFtpHost" serializeAs="String">
                <value>ftp.petroules.com</value>
            </setting>
            <setting name="DefaultFtpPassword" serializeAs="String">
                <value>presley1</value>
            </setting>
        </StudentSelecter.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
